.App {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register-box, .login-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 2px dotted #20b37b;
    border-radius: 10px;
}

.register-box form, .login-box form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px 0;
    border-radius: 15px;
}

.register-box h1, .login-box h1 {
    color : #1FA70C;
}




