.App {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register-box, .login-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.register-box form, .login-box form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
    background: rgb(0,191,222);
    background: rgb(224, 224, 224);
    margin: 10px 0;
    border-radius: 15px;
}

.register-box h1, .login-box h1 {
    color : #2d2ebd;
}




