@import url('https://fonts.googleapis.com/css?family=Montserrat|Poppins:700&display=swap');

.App {
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.register-box, .login-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    -webkit-box-shadow: -1px 0px 21px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 0px 21px -2px rgba(0,0,0,0.46);
    box-shadow: -1px 0px 21px -2px rgba(0,0,0,0.46);
}

.login-box {
    width: 70%;
    max-width: 1140px;
}

.register-box{
    width: 60%;
    max-width: 600px;
    max-height: 600px;
    height: 55%;
}

.register-box form{
    width: 80%;
}

.login-box form {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin: 10px 0;
    border-radius: 15px;
}

.box-left h1:first-of-type {
    margin-bottom: 40px;
    margin-top: 0px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 217, 94);
}

.box-left h1:last-of-type {
    margin-top: -20px;
    margin-bottom: 0px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    color : #ffffff;
}

.err {
    color: orange;
    margin: 10px 0 -2px 0;

}

.box-left, .box-right {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box-left {
    width: 40%;
    height: 100%;
    background: rgb(21,71,60);
    background: linear-gradient(0deg, rgba(21,71,60,1) 0%, rgba(3,203,192,1) 100%);
    border-top-left-radius: 40px;
}

.box-right {
    width: 60%;
    height: 100%;
}

/* TODO COMPONENT */

.todoBox {
    width: 90%;
    height: 100%;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 8%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(21,71,60);
    background: linear-gradient(-135deg, rgba(21,71,60,1) 0%, rgba(3,203,192,1) 100%);
}

.loginUser {
    color: white;
    margin-right: 15px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.header span {
    color: white;
}

.logoutButton {
    margin-right: 30px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.logoutButton:hover {
    color: orange;
    cursor: pointer;
}

.header-left h3 {
    color: white;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: -3px;
    justify-self: flex-start;
    margin: 0 0 0 30px;
    width: 50%;
}

.header-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.content {
    height: 92%;
    width: 100%;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

.content h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    padding-left: 30px;
    color: cadetblue;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}

.content form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.content input {
    margin-left: 30px;
    width: calc(80% - 50px);
    height: 30px;
    padding-left: 20px;
    flex-shrink: 2;
}

.content-top {
    background-color: rgb(247, 247, 247);
    width: 90%;
    z-index: 999999999999;
}

.addButton {
    height: 37px;
    width: calc(20% - 50px);
    margin-left: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    margin-right: 30px;
    flex-shrink: 1;
}

.addButton:hover {
    cursor: pointer;
    background-color: rgb(20, 102, 105);
}

.todolist {
    width: 80%;
    height: 75%;
    overflow-y: auto;
    overflow-x: hidden;
}

.content ul {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.content li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dotted cadetblue;
    width: 100%;
    color: #737373;
    font-family: 'Open Sans', sans-serif;
}


.deleteBtn {
    width: calc(5% - 30px);
    justify-self: flex-end;
    margin-right: 0px;
}

.deleteBtn button {
    height: 40px;
    border: none;
    background-color: transparent;
    margin: 0;
}

.deleteBtn button:hover {
    cursor: pointer;
}

.liText {
    margin-right: 25px;
    width: calc(95% - 50px);
    vertical-align: middle;
    padding: 15px 0 15px 25px;
}

.liText span:first-child {
    position: relative;
    top: 2px;
    margin-right: 15px;
}

.liText:hover {
    cursor: pointer;
}

.content li:hover {
    background-color: rgb(206, 233, 228, 0.5);
}



